<div class="post">

	<h1><%= @post.title %></h1>
	<!-- If we just write <h1>blablabla</h1> it is static writing in between <%= %> allows it to be dynamic and use ruby -->
	<!-- <p><%= @post.body %></p> -->
	<%= simple_format @post.body %>
	<p>
	Posted <%= time_ago_in_words @post.created_at %> ago. 
	</p>
	<div class="actions">
		<%= link_to "Edit", edit_post_path(@post) %>
		<%= link_to "Delete", post_path(@post), method: :delete %>
		<%= link_to "Add a Comment", new_post_comment_path(@post) %>
	</div>
</div>

<div class="comments">
	<% @comments.each do |comment| %>
	<div class="comment">

		<%= simple_format comment.body %>
		<p>Left <%= time_ago_in_words comment.created_at %> ago. </p>
		<%= link_to "Edit", edit_post_comment_path(@post, comment) %>
	</div>	
	<% end %>	
</div>



